@import "tailwindcss";

@theme {
  --color-primary: #065f46;
  --color-primary-light: #059669;
  --color-primary-dark: #022c22;
  --color-gold: #d4af37;
  --color-gold-light: #f4cf65;
  --color-cream: #fdfaf3;
}